.waxButton {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;

    transition: background-color .15s;
}

.waxButtonOutlined {
    background-color: white;
}

.waxButtonNone {
    border: none;
    background-color: transparent;
}

.waxButtonText {
    margin: auto auto auto 5px;
    text-align: center;
}