<button class="waxComponent waxButton @($"waxButton{ButtonStyle}")" 
        onclick="@(() => OnClick?.Invoke(this, new WaxClickedEventArgs(Id)))" 
        style="@Style">
    @Icon
    <span class="waxButtonText" style="font-size:@FontSize">@Text</span>
</button>