.waxButton {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    
    transition: background-color .15s;
}

.waxButtonNone {
    border: none;
}

.waxButtonText {
    margin: auto auto auto 5px;
    text-align: center;
}