.waxCodeBlockContainer {
    margin-top: 5px;
    padding: 5px;

    display: flex;
}

.waxLineCounter {
    padding: 5px;
}

.waxFooter {
    display: flex;
    width: 100%;
}

.waxTextFooter {
    margin: 10px;
    font-size: 10px;
}