.waxNavMenu {
    text-align: center;
    margin: 1px;
    background-color: rgba(255, 20, 147, .05);
    border: 1px solid pink;
    border-radius: 5px;
}

.waxNavMenuTitle {
    margin: 25px;
    border-bottom: 1px solid pink;
}