.waxTabItem {
    display: flex;
    float: left;
    margin-right: 1px;
    white-space: nowrap;
    padding: 2px 10px;
    
    transition: background-color .15s;

    border: 1px solid deeppink;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.waxTabItem:hover {
    background-color: rgba(255, 20, 147, 0.05) !important;
}

.waxTabItemText {
    margin: auto auto auto 5px;
    text-align: center;
}