<button class="waxTabItem" style="border-top-right-radius:@_borderTopRight;border-top-left-radius:@_borderTopLeft;background-color: @_bgColor;@Style" onclick="@OnTabClicked">
    <WaxIcon>@Icon</WaxIcon>
    <p class="waxTabItemText" style="font-size:@FontSize;@Style">@Text</p>
</button>