.waxTextInput {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 5px 10px;
    margin-top: 5px;

    -moz-appearance: textfield;
}

.waxTextInput::-webkit-outer-spin-button,
.waxTextInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}