.waxTabItem {
    display: flex;
    float: left;
    margin-right: -1px;
    white-space: nowrap;
    padding: 2px 10px;

    border-bottom: none;
}

.waxTabItem:hover {
    background-color: var(--component-bg-color-hover, rgba(255, 20, 147, .05)) !important;
}

.waxTabItemText {
    margin: auto auto auto 5px;
    text-align: center;
}