<CascadingValue Value='this'>
    <div class='waxTab waxComponent'>
        @ChildContent
    </div>
    <div class='waxTabContent waxComponent' style='@Style'>
        @_activeTab?.Content
    </div>
</CascadingValue>