@using WaxComponents.Theme
@using WaxComponents.Utils

@inherits WaxComponent

<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    <div
        class="h-full rounded-full transition-all duration-700"
        style="@TrackStyle"></div>
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public WaxColor Color { get; set; } = WaxColor.Primary;

    private string CssClass => 
        "w-full bg-muted rounded-full h-2 overflow-hidden"
            .MergeClass(Class);

    private string TrackStyle => $"width: {Value}%; background-color: var(--{Color});";
}