@using WaxComponents.Theme
@using WaxComponents.Utils
<div class="@CssClass">
    <div
        class="h-full rounded-full transition-all duration-700"
        style="@Style"
    />
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public WaxColor Color { get; set; } = WaxColor.Primary;
    [Parameter] public string Class { get; set; } = string.Empty;
    
    private string CssClass => 
        "w-full bg-muted rounded-full h-2 overflow-hidden"
            .Merge(Class);

    private string Style => $"width: {Value}%; background-color: var(--{Color});";
}