@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<WaxPanel>
    <WaxButton>
        <Icon><WaxIcon Size="24px">done</WaxIcon></Icon>
        <Text>Ceira</Text>
    </WaxButton>

    <WaxTextInput @bind-Value="_text" Placeholder="Ceira"></WaxTextInput>
</WaxPanel>

<WaxCodeBlock Code="@_code" Language="js">
</WaxCodeBlock>

<WaxSlider Value="Single.TryParse(_text, out float re) ? re : 0" ValueChanged="v => Console.WriteLine(v)"></WaxSlider>

<WaxGraph Items="_items" Height="500"></WaxGraph>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {
    
    private string _text = String.Empty;

    private string _code = 
        @"function ceira(i) {
    i++;    
}";

    private List<IGraphItem> _items = new()
    {
        new CeiraItem(100, "Ceira 1"),
        new CeiraItem(50, "Ceira 2"),
        new CeiraItem(300, "Ceira 3"),
        new CeiraItem(400, "Ceira 4"),
        new CeiraItem(200, "Ceira 5"),
        new CeiraItem(90, "Ceira 6")
    };

    class CeiraItem : IGraphItem
    {
        private int _value;
        private string _label;

        public CeiraItem(int value, string label)
        {
            _value = value;
            _label = label;
        }

        public float Value => _value;

        public string Label => _label;
    }

}