@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<WaxPanel>
    <WaxButton>
        <Icon>
            <WaxIcon>done</WaxIcon>
        </Icon>
        <Text>Ceira</Text>
    </WaxButton>

    <WaxTextInput @bind-Value="_text" Placeholder="Ceira"></WaxTextInput>
</WaxPanel>

<WaxCodeBlock FileName="Index.js" Code="@_code" Language="javascript">
</WaxCodeBlock>

<WaxSlider Value="Single.TryParse(_text, out float re) ? re : 0"></WaxSlider>

<WaxTab>
    <WaxTabItem>
        <Text>Ceira</Text>
        <Icon>done</Icon>
        <Content>
            <WaxButton>
                <Text>Ceira 1 cont</Text>
            </WaxButton>
        </Content>
    </WaxTabItem>
    <WaxTabItem>
        <Text>Ceira 2</Text>
        <Icon>done</Icon>
        <Content>
            <WaxButton>
                <Text>Ceira 2 cont</Text>
            </WaxButton>
        </Content>
    </WaxTabItem>
    <WaxTabItem>
        <Text>Ceira 3</Text>
        <Icon>done</Icon>
        <Content>
            <WaxButton>
                <Text>Ceira 3 cont</Text>
            </WaxButton>
        </Content>
    </WaxTabItem>
</WaxTab>

<WaxContainer>
    <WaxButton>
        <Icon>
            <WaxIcon>done</WaxIcon>
        </Icon>
        <Text>Sinas</Text>
    </WaxButton>

    <WaxTextInput Placeholder="Ceira"></WaxTextInput>

    <WaxIcon>reply all</WaxIcon>
</WaxContainer>

<WaxImageInput OnUpload="(_, args) => Console.WriteLine(args.Url)"></WaxImageInput>

@code {

    private string _text = String.Empty;

    private string _code =
        @"function ceira(i) {
    if (i <= 10)
        i++;    
}";

}