@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<WaxPanel>
    <WaxButton>
        <Icon><WaxIcon Size="24px">done</WaxIcon></Icon>
        <Text>Ceira</Text>
    </WaxButton>

    <WaxTextInput @bind-Value="_text" Placeholder="Ceira"></WaxTextInput>
</WaxPanel>

<WaxCodeBlock Code="@_code" Language="js">
</WaxCodeBlock>

<WaxMenu Items="_items"></WaxMenu>

<SurveyPrompt Title="How is Blazor working for you?"/>

<style>
body {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}
</style>

@code {
    
    private string _text = String.Empty;

    private string _code = 
        @"function ceira(i) {
    i++;    
}";
}