@inherits LayoutComponentBase

<div class="page">
    <div>
        <WaxNavMenu Title="Components" Items="_items"></WaxNavMenu>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private List<NavMenuItem> _items = new()
    {
        new NavMenuItem
        {
            Name = "Button",
            Url = "Button"
        },
        new NavMenuItem
        {
            Name = "CodeBlock",
            Url = "CodeBlock"
        },
        new NavMenuItem
        {
            Name = "Icon",
            Url = "Icon"
        },
        new NavMenuItem
        {
            Name = "Menu",
            Url = "Menu"
        },
        new NavMenuItem
        {
            Name = "NavMenu",
            Url = "NavMenu"
        },
        new NavMenuItem
        {
            Name = "Panel",
            Url = "Panel"
        },
        new NavMenuItem
        {
            Name = "TextInput",
            Url = "TextInput"
        }
    };

}
