@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

code {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

button, input, optgroup, select, textarea {
    font-size: initial;
}

textarea:focus, input:focus{
    outline: none;
}

.waxComponent {
    background-color: var(--bg-color, white);
    background-image: var(--component-bg);
    transition: background-color var(--transition-time, .333s);
    border: none;
    border-radius: 5px;
}

.waxComponent:hover {
    background-image: var(--component-bg-hover);
}

.waxComponent:focus {
    background-image: var(--component-bg-focus);
}

.waxComponent:active {
    background-image: var(--component-bg-active);
}

.waxComponentSecondary {
    background-color: var(--bg-color-secondary, white);
    transition: border-color, background-color var(--transition-time, .333s);
}