@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

code {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.waxComponent:hover {
    background-color: rgba(255, 20, 147, 0.05);
}

.waxComponent:focus {
    outline: 1px solid rgba(255, 20, 147, 1);
    background-color: rgba(255, 20, 147, 0.1);
}

.waxComponent:active {
    background-color: rgba(255, 20, 147, 0.2);
}